{% macro mojHeader(user=None) %}
  <header class="moj-header" role="banner">
    <div class="moj-header__container">
      <div class="moj-header__logo">
        {% include "components/moj_crest.html" %}
        <a class="moj-header__link moj-header__link--organisation-name"
           href="https://www.gov.uk/government/organisations/legal-aid-agency">Legal Aid Agency</a>
      </div>
      {% if user %}
        <div class="moj-header__content">
          <nav class="moj-header__navigation" aria-label="Account navigation">
            <ul class="moj-header__navigation-list">
              <li class="moj-header__navigation-item">{{ user.email }}</li>
              <li class="moj-header__navigation-item">
                <a class="moj-header__navigation-link govuk-!-font-weight-bold" href={{ url_for("authentication.logout") }}>Sign out</a>
              </li>
            </ul>
          </nav>
        </div>
      {% endif %}
    </div>
  </header>
{% endmacro %}
