{% extends 'base.html' %}

{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% block content %}
    {{ super() }}
    <h1 class="govuk-heading-xl">Manage a Provider's Data</h1>

    <p class="govuk-body">Use this service to manage LAA accounts for legal aid providers, including legal services providers, chambers, advocates and barristers.</p>

    <p class="govuk-body">You will be able to view and amend details about:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>firms</li>
      <li>offices</li>
      <li>contact details</li>
      <li>bank accounts</li>
      <li>contracts</li>
      <li>schedules</li>
    </ul>

     <p class="govuk-body">This service replaces the CWA web interface.</p>

    {{ govukButton({
      "text": "Sign in",
      "href": url_for("main.providers"),
      "isStartButton": true
    }) }}

{% endblock %}