{% extends 'form.html' %}

{%- from 'govuk_frontend_jinja/components/table/macro.html' import govukTable -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}
{%- from 'components/moj-pagination.html' import mojPagination -%}
{%- from 'components/back_link.html' import govukBackLink -%}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if form and form.errors %}
            {{ govukErrorSummary(wtforms_errors(form)) }}
        {% endif %}

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
              {{ govukNotificationBanner({'type': category, 'html': message}) }}
          {% endfor %}
        {% endif %}
      {% endwith %}

      <h1 class="govuk-heading-xl">{{ form.title }}</h1>

      <form method="get" class="govuk-!-margin-bottom-6">
          <div class="govuk-form-group--search">
            {{ form.search() }}
            {{ govukButton({'text': 'Search'}) }}
          </div>
      </form>

      {{ govukButton({
        "text": "Add a new parent provider",
        "classes": "govuk-button--secondary",
        "href": url_for("main.add_parent_provider")
      }) }}

      {% if form.table %}
        {% if form.search_term %}
          <h2 class="govuk-heading-m">{{ form.num_results }} search {{ "result" if form.num_results == 1 else "results" }} for ‘{{ form.search_term }}’</h2>
        {% endif %}

        <div class="moj-scrollable-pane">
          {{ govukTable(form.table.to_govuk_params()) }}
        </div>

        {{ mojPagination(currentPage=form.page, numShownPerPage=form.providers_shown_per_page, numResults=form.num_results) }}
      {% endif %}
    </div>
  </div>

{% endblock %}