{% extends 'base.html' %}

{%- from 'govuk_frontend_jinja/components/table/macro.html' import govukTable -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}
{%- from 'components/moj-pagination.html' import mojPagination -%}
{%- from 'components/back_link.html' import govukBackLink -%}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink() }}
{% endblock %}

{% block content %}
  {{ super() }}

  <h1 class="govuk-heading-xl">Providers</h1>

  {{ govukButton({
    "text": "Add a new provider",
    "classes": "govuk-button--secondary",
    "href": url_for("main.add_provider")
  }) }}

  <div class="moj-scrollable-pane">
    {{ govukTable(table.to_govuk_params()) }}
  </div>

  {{ mojPagination(currentPage=current_page, numShownPerPage=num_shown_per_page, numResults=num_results) }}

{% endblock %}