{% extends 'base.html' %}

{%- from 'govuk_frontend_jinja/components/table/macro.html' import govukTable -%}
{%- from 'govuk_frontend_jinja/components/warning-text/macro.html' import govukWarningText -%}
{%- from 'components/moj_sub_navigation.html' import mojSubNavigation %}
{%- from 'components/back_link.html' import govukBackLink -%}
s
{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink() }}
{% endblock %}

{% block content %}
  {{ super() }}

  <span class="govuk-caption-xl">{{ office_code }}</span>
  <h1 class="govuk-heading-xl">{{ office_name }}</h1>

  {{ mojSubNavigation({
    "label": "Sub navigation",
    "items": [{
      "text": "Contracts",
      "href": url_for("main.contracts", firm_id=firm_id, office_code=office_code)
    }, {
      "text": "Schedules",
      "href": url_for("main.schedules", firm_id=firm_id, office_code=office_code),
      "active": true
    }, {
      "text": "Bank Details",
      "href": url_for("main.bank_details", firm_id=firm_id, office_code=office_code),
    }]
  }) }}

  <div class="moj-scrollable-pane">
    {{ govukTable(table.to_govuk_params()) }}
  </div>

  {{ govukWarningText({
    "text": "Schedule line items are currently not shown, to see these click 'Full info' on a schedule"
  }) }}

{% endblock %}