{% extends 'view-provider.html' %}
{% from 'macros/contact_tables.html' import contactCards %}

{% block actionButtons %}
  {{ govukButton({
    "text": "Make chambers inactive",
    "classes": "govuk-button--secondary",
  }) }}
{% endblock %}

{% block firmTypeSubNavigation %}
	{{ mojSubNavigation({
    "label": "Sub navigation",
    "items": [{
      "text": "Contact",
      "href": url_for("main.view_provider_contact", firm=firm),
      "active": subpage == "contact"
    }, {
      "text": "Barristers and advocates",
      "href": url_for("main.view_provider_barristers_and_advocates", firm=firm),
      "active": subpage == "barristers-and-advocates"
    }]
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if subpage == "contact" %}
        {% if contact_details_table %}
          <h3 class="govuk-heading-m">Contact details</h3>
          {{ govukTable(contact_details_table.to_govuk_params()) }}
        {% endif %}
        {{ contactCards(contact_tables) }}
      {% endif %}
  {% endif %}

      {% if subpage == "barristers-and-advocates" %}

        <h3 class="govuk-heading-m">Barristers and advocates</h3>
      {% endif %}
{% endblock %}