{% extends 'view-provider.html' %}

{% block actionButtons %}

  {{ govukButton({
    "text": "Make provider inactive",
    "classes": "govuk-button--secondary",
  }) }}

{% endblock %}

{% block firmTypeSubNavigation %}
	{{ mojSubNavigation({
    "label": "Sub navigation",
    "items": [{
      "text": "Contact",
      "href": url_for("main.view_provider_contact", firm=firm),
      "active": subpage == "contact"
    }, {
      "text": "Barristers and advocates",

      "active": subpage == "barristers-and-advocates"
    }]
  }) }}

  {% if subpage == "barristers-and-advocates" %}

      <h3 class="govuk-heading-m">Barristers and advocates</h3>
  {% endif %}

  {% if subpage == "contact" %}
    {% if contact_details_table %}
      <h3 class="govuk-heading-m">Contact details</h3>
      {{ govukSummaryList(contact_details_table.to_summary_govuk_params()) }}
    {% endif %}

    <h3 class="govuk-heading-m">Contact</h3>
    {{ govukSummaryList(contact_table.to_summary_govuk_params()) }}

  {% endif %}
{% endblock %}