{% extends 'view-provider.html' %}
{% from 'macros/contact_tables.html' import contactCards %}

{% block firmTypeSubNavigation %}
	{{ mojSubNavigation({
    "label": "Sub navigation",
    "items": [{
      "text": "Contact",
      "href": url_for("main.view_provider_contact", firm=firm),
      "active": subpage == "contact"
    }, {
      "text": "Barristers and advocates",
      "href": url_for("main.view_provider_barristers_and_advocates", firm=firm),
      "active": subpage == "barristers-advocates"
    }]
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if subpage == "contact" %}
          <div class="govuk-grid-column-two-thirds">
        {% if contact_details_table %}
          <h3 class="govuk-heading-m">Contact details</h3>
          {{ govukSummaryList(contact_details_table.to_summary_govuk_params()) }}
        {% endif %}
        {{ contactCards(contact_tables) }}
          </div>
      {% endif %}
      
      {% if subpage == "barristers-advocates" %}
        {% if barristers_table %}
            <h3 class="govuk-heading-m">Barristers</h3>
            {{ govukTable(barristers_table.to_govuk_params()) }}
            {{ govukButton({
                "text": "Add another barrister",
                "href": url_for("main.add_barrister_details_form", firm=firm)
            }) }}
        {% else %}
            <h3 class="govuk-heading-m">No barristers assigned to this chambers</h3>
            {{ govukButton({
                "text": "Add a barrister",
                "href": url_for("main.add_barrister_details_form", firm=firm)
            }) }}
        {% endif %}

        {% if advocates_table %}
            <h3 class="govuk-heading-m">Advocates</h3>
            {{ govukTable(advocates_table.to_govuk_params()) }}
            {{ govukButton({
                "text": "Add another advocate",
                "href": url_for("main.add_advocate_details_form", firm=firm)
            }) }}
        {% else %}
            <h3 class="govuk-heading-m">No advocates assigned to this chambers</h3>
            {{ govukButton({
                "text": "Add an advocate",
                "href": url_for("main.add_advocate_details_form", firm=firm)
            }) }}
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}