{% extends 'view-provider.html' %}

{% block actionButtons %}
  {{ govukButton({
    "text": "Make provider inactive",
    "classes": "govuk-button--secondary",
  }) }}

  {{ govukButton({
    "text": "Record provider intervention",
    "classes": "govuk-button--secondary govuk-!-margin-left-3",
  }) }}
{% endblock %}

{% block firmTypeSubNavigation %}
	{{ mojSubNavigation({
    "label": "Sub navigation",
    "items": [{
      "text": "Contact",
      "href": url_for("main.view_provider_contact", firm=firm),
      "active": subpage == "contact"
    }, {
      "text": "Offices",
      "href": url_for("main.view_provider_offices", firm=firm),
      "active": subpage == "offices"
    }]
  }) }}

  {% if subpage == "offices" %}
    {% if "head" in office_tables %}
      <h3 class="govuk-heading-m">Head office</h3>
      {{ govukTable(office_tables.head.to_govuk_params()) }}
    {% endif %}

    {% if "other" in office_tables %}
      <h3 class="govuk-heading-m">Offices</h3>
      {{ govukTable(office_tables.other.to_govuk_params()) }}
    {% endif %}

    {{ govukButton({
    "text": "Add an office",
    "href": url_for("main.add_office", firm=firm)
    }) }}
  {% endif %}

{% if subpage == "contact" %}
    <h3 class="govuk-heading-m">Contacts</h3>
    {{ govukTable(contact_table.to_govuk_params()) }}

{% endif %}
{% endblock %}