{% extends 'base.html' %}

{%- from 'govuk_frontend_jinja/components/table/macro.html' import govukTable -%}
{%- from "govuk_frontend_jinja/components/warning-text/macro.html" import govukWarningText %}
{% from "govuk_frontend_jinja/components/notification-banner/macro.html" import govukNotificationBanner %}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}
{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from 'components/moj_sub_navigation.html' import mojSubNavigation %}
{%- from 'components/back_link.html' import govukBackLink -%}
{%- from 'components/address.html' import addressDisplay -%}
{%- from 'macros/flash_messages.html' import renderFlashMessages %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": firm.firm_name,
        "href": url_for("main.view_provider", firm=firm)
      },
      {
        "text": "Office: " + office.firm_office_code,
        "href": url_for("main.view_office", firm=firm, office=office)
      }]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ renderFlashMessages() }}

      <span class="govuk-caption-xl">{{ firm.firm_name }}</span>
      <h1 class="govuk-heading-xl">Office: {{ office.firm_office_code }}</h1>

      {{ addressDisplay(office) }}

      <br>

      {{ govukButton({
        "text": "Make inactive",
        "classes": "govuk-button--secondary"
      }) }}

      {{ govukButton({
        "text": "Hold payments",
        "classes": "govuk-button--secondary govuk-!-margin-left-3",
      }) }}

      {{ govukButton({
        "text": "Record office intervention",
        "classes": "govuk-button--secondary govuk-!-margin-left-3",
      }) }}
    </div>
    <div class="govuk-grid-column-full">

      {{ mojSubNavigation({
        "label": "Sub navigation",
        "items": [{
          "text": "Overview",
          "href": "#",
          "active": true
        }, {
          "text": "Contact",
          "href": "#",
        }, {
          "text": "Bank accounts and payment",
          "href": "#",
        }]
      }) }}

    </div>
    <div class="govuk-grid-column-two-thirds">
      {% if overview_table %}
        <h2 class="govuk-heading-m">Overview</h2>
        {{ govukTable(overview_table.to_govuk_params()) }}
      {% endif %}
    </div>
  </div>


{% endblock %}