{% extends 'base.html' %}

{%- from 'govuk_frontend_jinja/components/table/macro.html' import govukTable -%}
{%- from "govuk_frontend_jinja/components/warning-text/macro.html" import govukWarningText %}
{% from "govuk_frontend_jinja/components/notification-banner/macro.html" import govukNotificationBanner %}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}
{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from 'components/moj_sub_navigation.html' import mojSubNavigation %}
{%- from 'components/back_link.html' import govukBackLink -%}
{%- from 'components/address.html' import addressDisplay -%}
{% from 'macros/contact_tables.html' import contactCards %}
{% from 'govuk_frontend_jinja/components/summary-list/macro.html' import govukSummaryList %}
{%- from 'macros/flash_messages.html' import renderFlashMessages %}
{%- from 'macros/render_tags.html' import renderTags %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": firm.firm_name,
        "href": url_for("main.view_provider", firm=firm)
      },
      {
        "text": "Office: " + office.firm_office_code,
        "href": url_for("main.view_office", firm=firm, office=office)
      }]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ renderFlashMessages() }}

      <span class="govuk-caption-xl">{{ firm.firm_name }}</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Office: {{ office.firm_office_code }}</h1>

      {{ renderTags(office_tags) }}

      {{ addressDisplay(office) }}

      <br>

      {% if office.inactive_date %}
        {{ govukWarningText({
              "text": "Provider marked as inactive on " ~ office.inactive_date | format_date,
              "classes": "govuk-!-margin-top-2 govuk-!-margin-bottom-3"
          }) }}
        {{ govukWarningText({
            "text": "Payments for all offices are hold because provider is inactive",
            "classes": "govuk-!-margin-bottom-5"
        }) }}
      {% endif %}

      {{ govukButton({
        "text": "Make active" if office.inactive_date else "Make inactive",
        "classes": "govuk-button--secondary",
      }) }}

      {{ govukButton({
        "text": "Hold payments",
        "classes": "govuk-button--secondary govuk-!-margin-left-3",
      }) }}

      {{ govukButton({
        "text": "Record office intervention",
        "classes": "govuk-button--secondary govuk-!-margin-left-3",
      }) }}
    </div>
    <div class="govuk-grid-column-full">

    {{ mojSubNavigation({
      "label": "Sub navigation",
      "items": [{
        "text": "Overview",
        "href": url_for("main.view_office_overview", firm=firm, office=office),
        "active": subpage == "overview"
      }, {
        "text": "Contact",
        "href": url_for("main.view_office_contact", firm=firm, office=office),
        "active": subpage == "contact"
      }, {
        "text": "Bank accounts and payment",
        "href": url_for("main.view_office_bank_payment_details", firm=firm, office=office),
        "active": subpage == "bank-payment-details"
      }]
    }) }}

    </div>
    <div class="govuk-grid-column-{% if subpage == 'contact' %}full{% else %}two-thirds{% endif %}">

    {% if subpage == "overview" %}
        {% if overview_table %}
          <h2 class="govuk-heading-m">Overview</h2>
          {{ govukTable(overview_table.to_govuk_params()) }}
        {% endif %}
    {% endif %}
    
    {% if subpage == "contact" %}
        {% if contact_tables %}
            {{ contactCards(contact_tables, title="Office contact details") }}
        {% endif %}
    {% endif %}

    {% if subpage == "bank-payment-details" %}
        <h2 class="govuk-heading-m">Payment information</h2>
        {{ govukSummaryList(payment_information_table.to_summary_govuk_params()) }}

        <h2 class="govuk-heading-m">VAT registration number</h2>
        {{ govukSummaryList(vat_registration_table.to_summary_govuk_params()) }}

        <h2 class="govuk-heading-m">Bank accounts</h2>
        {% if bank_account_table %}
            {{ govukSummaryList(bank_account_table.to_summary_govuk_params()) }}
        {% endif %}

        {{ govukButton({
            "text": "Add bank account",
            "href": "#"
        }) }}
    {% endif %}
      
    </div>
  </div>

{% endblock %}