name: Static Analysis
on:
  workflow_call:
    secrets:
      SONAR_TOKEN:
        required: true
      GITLEAKS_LICENSE:
        required: true
jobs:
  pip-compile:
    name: pip-compile
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Set up Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: '3.13'

    - name: Run pip-compile pre-commit
      id: pip_compile
      run: |
        python -m pip install --upgrade pip
        pip install pre-commit
        pre-commit clean
        ls requirements/source/* | xargs pre-commit run pip-compile --files

    - name: Check command result
      if: steps.pip_compile.outcome != 'success'
      run: |
        echo "pip-compile failed because the compilation of requirements/source do not match of that in requirements/generated." >&2
        exit 1

  secret-scan:
    name: Secret scan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - uses: gitleaks/gitleaks-action@ff98106e4c7b2bc287b24eaf42907196329070c7 # v2.3.9
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITLEAKS_LICENSE: ${{ secrets.GITLEAKS_LICENSE }}

  lint:
    name: Ruff
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Lint
        uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v3.5.1
        with:
          args: check --output-format=github
          version: ">=0.12.3"
      - name: Format
        uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v3.5.1
        with:
          args: format --check
          version: ">=0.12.3"

  sonarqube:
    name: SonarQube
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          # Number of commits to fetch. 0 indicates all history for all branches and tags.
          # Default: 1
          fetch-depth: 0
      - name: Download coverage report
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: coverage-xml-report
          path: coverage
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@a31c9398be7ace6bbfaf30c0bd5d415f843d45e9 # v7.0.0
        with:
          args: >
            -Dsonar.python.version=3.13
            -Dsonar.sources=app
            -Dsonar.python.coverage.reportPaths=coverage/coverage.xml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}